<div class="top-panel">
    <mat-toolbar color="primary" class="custom-toolbar">
        <span class="toolbar-logo">
            <img src="/assets/logo.svg" alt="Logo">
        </span>
        <div class="toolbar-menu">
            <span class="toolbar-title">
                <a mat-button routerLink="/home" routerLinkActive="active-link">AVALEHT</a>
            </span>
            <span class="toolbar-title">
                <a mat-button routerLink="/event" routerLinkActive="active-link">ÜRITUSE LISAMINE</a>
            </span>
            <span class="toolbar-title">
              <a mat-button routerLink="/participant" routerLinkActive="active-link">OSAVÕTJA LISAMINE</a>
          </span>
        </div>
        <span class="toolbar-symbol">
            <img src="/assets/symbol.svg" alt="Symbol">
        </span>
    </mat-toolbar>
</div>
<div class="main-content">
    <router-outlet></router-outlet>
</div>
<div class="footer">
    <div class="footer-section">
      <h4>Curabitur</h4>
      <ul>
        <li><a href="#">Emauris Krfingilla</a></li>
        <li><a href="#">Oin magna sem</a></li>
        <li><a href="#">Kelementum</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Fusce</h4>
      <ul>
        <li><a href="#">Ecconsectetur</a></li>
        <li><a href="#">Ksollicitudin</a></li>
        <li><a href="#">Omvulputate</a></li>
        <li><a href="#">Nunc fringilla tellu</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Kontakt</h4>
      <p>Peakonor: Tallinnas Väike- Ameerika 1, 11415 Tallinn Telefon: 605 4450 Faks: 605 3186</p>
      <p>Harukontor: Võrus Oja tn 7 (külastusaadress) Telefon: 605 3330 Faks: 605 3155</p>
    </div>
  </div>